/* about.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: white;
  padding-top: 100px; /* For fixed navbar */
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}
/* Colors */
.color-yellow {
  color: #FFB400;
}

.bg-black {
  background-color: #111 !important;
}
[data-aos] {
  overflow-x: hidden;
}

/* Navbar */
.navbar-nav {
  max-width: 100%;
}
.navIcon{
    width: 25px;
    height: 25px;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: #2B2A2A;
}
.navActive, .navIcon:hover{
  background-color: #FFB400;
}
.navbar .nav-link {
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #FFB400;
}

.navbar-toggler {
  border-color: rgba(255, 180, 0, 0.6);
}

.navbar-toggler-icon {
  filter: invert(1);
}

            /* About Section Start */

/* Button */
.HomeBtn {
  border: 1px solid #FFB400;
  color: white;
  background: transparent;
  border-radius: 30px;
}
.HomeBtn:hover{
  background-color: #FFB400;
  color: white;
}
.HomeBtn:hover .arrowBtn{
  color: #FFB400;
  background-color: white;
}
/* Arrow */
.arrowBtn {
  width: 40px;
  height: 40px;
  background-color: #FFB400;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.About{
    background-color: #111111;
}
.aboutH1{
    font-size: 120px;
    font-weight: 700;
    color: #222222;
    position: absolute;
    text-align: center;
}
.aboutH3{
    font-size: 60px;
    font-weight: 800;
    color: white;
    position: relative;
    text-align: center;
    margin-left: 70px;
    margin-top: 40px;
}
.aboutCon{
    border: 1px solid #252525;
    height: auto;
}
.aboutLine{
    border: 1px solid #252525;
    margin: 20px auto;
}
.progress-container {
  max-width: 200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-circle {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 98%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle1 {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 89%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle2 {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 75%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle3 {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 95%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle4 {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 95%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle5 {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 80%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle6 {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 80%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle7 {
  position: relative;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%;
  background: conic-gradient(#ffc800 80%,  #2B2A2A 0); /* Yellow for 89%, dark grey for the rest */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-circle::before {
  content: "";
  position: absolute;
  width: 130px; /* Adjust as needed */
  height: 130px; /* Adjust as needed */
  border-radius: 50%;
  background-color: #000; /* Dark background color */
}

.progress-value {
  position: relative;
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
  color: #fff; /* White text color */
}

.progress-label {
  margin-top: 10px;
  font-size: 16px; /* Adjust as needed */
  color: #fff; /* White text color */
}
.studyIcon{
  height: 30px;
  width: 30px;
  background-color: #FFB400;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;
    animation-name: icon-animat;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: 0.5s;
}
@keyframes icon-animat {
    0%  {border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;}

    25% {border-radius: 69% 31% 19% 81% / 43% 37% 63% 57%;}

    50% {border-radius: 67% 33% 16% 84% / 57% 37% 63% 43%;}

    75% {border-radius: 77% 23% 61% 39% / 36% 61% 39% 64%;}

    100% {border-radius: 67% 33% 29% 71% / 39% 46% 54% 61%;}
}
                /* About Section End */
                /* Media Query */
@media only screen and (max-width : 770px){
  /* About */
  .aboutH1{
    font-size: 60px;
    font-weight: 700;
    color: #222222;
    position: absolute;
    text-align: center;
  }
  .aboutH3{
      font-size: 30px;
      font-weight: 800;
      color: white;
      position: relative;
      text-align: center;
      margin-left: 8px;
      margin-top: 18px;
  }
}
