/* portfolio.css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.color-yellow{
    color: #FFB400;
}
.bg-yellow{
    background-color: #FFB400;
}
.color-black{
    background-color: #111111;
}
.bg-black{
    background-color: #111111;
}
.color-white{
    color: white;
}
.color-ash{
    color: #C4C4C4;
}
.bg-DarkAsh{
  background-color: #212121;
  color: white;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
}
.All{
  background-color: #111111;
  min-height: 100vh;
}

            /* Nav Section Start */
.media{
  position:fixed;
  right: 0px;
  top: 80px;
  z-index: 200;
}
.navSpan{
  display: none;
}
.navIcon{
    width: 25px;
    height: 25px;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: #2B2A2A;
}
.navActive, .navIcon:hover{
  background-color: #FFB400;
}
.active{
  background-color: #FFB400;
}
.display{
  display: none;
}
.CloseIcon{
  display: none;
}
.togg{
  display: none;
}
a{
    color: black;
    text-decoration: none;
  }
            /* Nav Section End */


/* Media Query */

@media only screen and (min-width : 1400px){
  .HomeBtn{
    height: 8.5vh !important;
  }
}
@media only screen and (max-width : 1030px){
  .ContactIputs{
    width: 150px;
    margin-left: 30px;
  }
}
@media only screen and (max-width : 770px){
  /* Contact */
  .ContactIputs{
    height: 10vh;
    padding-left:15px;
    background-color: #252525;
    border: none;
    border-radius: 25px;
  }
  textarea{
    width: 75%;
    height: 30vh;
    padding-left:20px;
    background-color: #252525;
    border: none;
    border-radius: 25px;
}
}
@media only screen and (max-width : 350px){
  .ContactH1{
    font-size: 60px;
    font-weight: 700;
    color: #222222;
    position: absolute;
    text-align: center;
  }
  .ContactH3{
      font-size: 30px;
      font-weight: 800;
      color: white;
      position: relative;
      text-align: center;
      margin-top: 20px;
  }
  .conIconsyellow{
    width: 20px;
    height: 20px;
  }
  .conMobile{
    width: 25px;
  }
  .ContactIputs, .form-textarea{
    width: 230px;
  }
}
