/* contact.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: white;
  padding-top: 100px; /* For fixed navbar */
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}
/* Colors */

.bg-black {
  background-color: #111 !important;
}
[data-aos] {
  overflow-x: hidden;
}

/* Navbar */
.navbar-nav {
  max-width: 100%;
}
.navIcon{
    width: 25px;
    height: 25px;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: #2B2A2A;
}
.navActive, .navIcon:hover{
  background-color: #FFB400;
}
.navbar .nav-link {
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #FFB400;
}

.navbar-toggler {
  border-color: rgba(255, 180, 0, 0.6);
}

.navbar-toggler-icon {
  filter: invert(1);
}

            /* About Section Start */

/* Button */
.HomeBtn {
  border: 1px solid #FFB400;
  color: white;
  background: transparent;
  border-radius: 30px;
}
.HomeBtn:hover{
  background-color: #FFB400;
  color: white;
}
.HomeBtn:hover .arrowBtn{
  color: #FFB400;
  background-color: white;
}
/* Arrow */
.arrowBtn {
  width: 40px;
  height: 40px;
  background-color: #FFB400;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.Contact{
  height: auto;
  background-color: #111111;
}                
.ContactH1{
    font-size: 120px;
    font-weight: 700;
    color: #222222;
    position: absolute;
    text-align: center;
}             
.ContactH3{
    font-size: 50px;
    font-weight: 800;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 50px;
}      
.conIconsyellow{
  width: 30px;
  height: 30px;
  color: white;
  background-color: #FFB400;
  padding: 10px;
  border-radius: 10px;
}                
.ContactIputs{
  height: 8vh;
  margin-left: 30px;
  padding-left:15px;
  background-color: #252525;
  border: none;
  border-radius: 25px;
  color: white;
}
textarea{
  width: 90%;
  height: 30vh;
  margin-left: 30px;
  padding-left:20px;
  background-color: #252525;
  border: none;
  border-radius: 25px;
  color: white;
}
.ContactIconsSocial{
  color: white;
  width: 20px;
  height: 20px;
  padding: 15px;
  background-color: #2B2A2A;
  border-radius: 50%;
}
.ContactIconsSocial:hover{
  background-color: #FFB400;
}
                /* Contact Section End */




                /* Media Query */
@media only screen and (max-width : 1030px){
  .ContactIputs{
    width: 150px;
    margin-left: 30px;
  }
}
@media only screen and (max-width : 770px){
  /* Contact */
  .ContactIputs{
    height: 10vh;
    padding-left:15px;
    background-color: #252525;
    border: none;
    border-radius: 25px;
  }
  textarea{
    width: 75%;
    height: 30vh;
    padding-left:20px;
    background-color: #252525;
    border: none;
    border-radius: 25px;
}
}
@media only screen and (max-width : 350px){
  .ContactH1{
    font-size: 60px;
    font-weight: 700;
    color: #222222;
    position: absolute;
    text-align: center;
  }
  .ContactH3{
      font-size: 30px;
      font-weight: 800;
      color: white;
      position: relative;
      text-align: center;
      margin-top: 20px;
  }
  .conIconsyellow{
    width: 20px;
    height: 20px;
  }
  .conMobile{
    width: 25px;
  }
  .ContactIputs, .form-textarea{
    width: 230px;
  }
}
