

                /* Banner Section Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  padding-top: 100px; /* For fixed navbar */
}


/* Colors */
.color-yellow {
  color: #FFB400;
}

.bg-black {
  background-color: #111 !important;
}

/* Navbar */
.navIcon{
    width: 25px;
    height: 25px;
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: #2B2A2A;
}
.navActive, .navIcon:hover{
  background-color: #FFB400;
}
.navbar .nav-link {
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #FFB400;
}

.navbar-toggler {
  border-color: rgba(255, 180, 0, 0.6);
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* Banner */
.overAll {
  width: 100%;
  position: relative;
  min-height: calc(100vh - 80px);
  padding: 50px 0px;
  z-index: 1;
}

.overAll::after {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: polygon(0 0, 35% 0, 100% 100%, 0% 100%);
  width: 25%;
  height: 100%;
  background-color: #FFB400;
  z-index: -1;
    top: 0;
    left: 0;
}

/* Image */
.banner-img {
  max-width: 280px;
}

/* Heading */
.bannerHeading {
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 600;
}

/* Button */
.HomeBtn {
  border: 1px solid #FFB400;
  color: white;
  background: transparent;
  border-radius: 30px;
}
.HomeBtn:hover{
  background-color: #FFB400;
  color: white;
}
.HomeBtn:hover .arrowBtn{
  color: #FFB400;
  background-color: white;
}

/* Arrow */
.arrowBtn {
  width: 40px;
  height: 40px;
  background-color: #FFB400;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .overAll::after {
    display: none;
  }

  .banner-img {
    max-width: 220px;
  }
}
